div.offset2
    div.col-lg-8.offset-lg-2
        if (success_messages && success_messages.length > 0)
            div.alert.alert-success(id='success_messages')= success_messages
        if (error_messages &&  error_messages.length  > 0)
            div.alert.alert-danger(id='error_messages')= error_messages