extends ../layout

block content
  .container
    .edit-user-container
      .row.justify-content-center
        .col-md-6
          .card.border-info.mb-3
            h2.card-header Edit User
            .card-body.text-dark
              form.edit-user-form(method='POST', action=`/users/${user._id}?_method=PUT`)
                label(for="email") Email Address:
                input.email-input.form-control.mb-3(type="email" id="email" name="email" aria-describedby="emailHelp" value=user.email)
                if session.user.role === 'administrator'
                  label(for="role") Role:
                  input.form-control.mb-3(type="text" name="role" id="role" aria-describedby="roleHelp" value=user.role)
                button.btn.btn-primary.btn-block(type="submit") Confirm